* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

/*les varaiables */

:root {
  --text-color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 100vh;

  .container-menu {
    flex: 1;
    background-color: #fff;
    left: 10px;
  }

  .container-mainpage {
    background-image: url(/images/fond.jpeg);
    background-size: cover;
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    > #logo {
      height: 150px;
      width: 150px;
      border-radius: 70%;
      margin-bottom: 40px;
    }

    > h1 {
      color: var(--text-color);
      margin-bottom: 30px;
    }

    > p {
      color: var(--text-color);
      padding: 20px;
    }
  }
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;

  > ul {
    list-style: none;

    > li {
      margin-top: 40px;
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      transition: all 0.1s ease-out;
    }

    & a:hover {
      background: #000;
      color: var(--text-color);
      padding: 5px;
    }
  }
}

.titre1 {
  text-align: center;
  margin-top: 40px;
  text-transform: uppercase;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 7px rgb(18% 18% 0.5%);
}

.paragraphe {
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  color: purple;
}

.section1 {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  align-items: center;
  justify-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 30px;

  .images {
    .img {
      height: 200px;
      width: 200px;
      border-radius: 30px;
      box-shadow: 0 0 7px rgb(18% 18% 0.5%);
      margin-top: 30px;
      transition: all 0.5s ease-out;

      &.img:hover {
        transform: scale(1.2);
      }
    }
    .paraImage {
      margin-top: 25px;
    }
  }
}

.section2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-top: 30px;

  .cards {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: auto;
    box-shadow: 0 0 5px rgb(18% 18% 0.5%);
    padding: 10px;

    > p {
      text-align: justify;
      margin-top: 25px;
    }
    > h3 {
      margin-top: 25px;
      color: rgb(131, 0, 131);
    }

    .imageSection2 {
      height: 70px;
      width: 70px;
      margin-top: -40px;
      border-radius: 100%;
    }
  }
}

.section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  flex-direction: column;
  background-color: beige;

  > form {
    background: white;
    padding: 40px;
    border-radius: 30px;
    width: 500px;
  }

  h4 {
    color: purple;
    margin-bottom: 30px;
    text-align: center;
  }

  label {
    display: block;
  }

  input,
  textarea {
    width: 100%;
    height: auto;
    border: none;
    border-bottom: 1px solid #000;
    margin: 15px 0;
    outline: none;
  }

  button {
    display: block;
    width: 350px;
    height: 30px;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    margin: auto;
  }
}

footer {
  background-image: url(/images/fond.jpeg);
  background-size: cover;

  color: var(--text-color);

  height: 50vh;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  h5 {
    text-align: center;
  }

  .icon-elem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 80px;

    i {
      margin-right: 10px;
      font-size: 2rem;
    }
  }
}

.container-menu.disappear {
  background-color: #000;
  transition: all 0.7s ease-out;

  a {
    color: white;
    font-weight: 700;
  }

  & a:hover {
    color: #000;
    background: #fff;
  }
}
